USE [Practica1]
GO
/****** Object:  Index [IX_MESA]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP INDEX IF EXISTS [IX_MESA] ON [dbo].[MESA]
GO
/****** Object:  Index [IX_EMPLEADO]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP INDEX IF EXISTS [IX_EMPLEADO] ON [dbo].[EMPLEADO]
GO
/****** Object:  Index [IX_CUENTA]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP INDEX IF EXISTS [IX_CUENTA] ON [dbo].[CUENTA]
GO
/****** Object:  Index [IX_ARTICULO]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP INDEX IF EXISTS [IX_ARTICULO] ON [dbo].[ARTICULO]
GO
/****** Object:  Index [IX_ALMACEN]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP INDEX IF EXISTS [IX_ALMACEN] ON [dbo].[ALMACEN]
GO
/****** Object:  Table [dbo].[MESA]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP TABLE IF EXISTS [dbo].[MESA]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP TABLE IF EXISTS [dbo].[EMPLEADO]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP TABLE IF EXISTS [dbo].[CUENTA]
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP TABLE IF EXISTS [dbo].[ARTICULO]
GO
/****** Object:  Table [dbo].[ALMACEN]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP TABLE IF EXISTS [dbo].[ALMACEN]
GO
USE [master]
GO
/****** Object:  Database [Practica1]    Script Date: 9/15/2018 1:19:25 AM ******/
DROP DATABASE IF EXISTS [Practica1]
GO
/****** Object:  Database [Practica1]    Script Date: 9/15/2018 1:19:25 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Practica1')
BEGIN
CREATE DATABASE [Practica1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica1]
GO
USE [Practica1]
GO
/****** Object:  Table [dbo].[ALMACEN]    Script Date: 9/15/2018 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ALMACEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ALMACEN](
	[numAlmacen] [int] NOT NULL,
	[Capacidad] [int] NULL,
	[artAlmacenados] [int] NULL,
 CONSTRAINT [PK_ALMACEN] PRIMARY KEY CLUSTERED 
(
	[numAlmacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 9/15/2018 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ARTICULO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ARTICULO](
	[numArticulo] [int] NOT NULL,
	[Imagen] [image] NULL,
	[Descripcion] [text] NULL,
	[Precio] [float] NULL,
 CONSTRAINT [PK_ARTICULO] PRIMARY KEY CLUSTERED 
(
	[numArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 9/15/2018 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUENTA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUENTA](
	[numCuenta] [int] NOT NULL,
	[Total] [money] NULL,
	[IVA] [float] NULL,
	[Fecha] [datetime] NULL,
	[Propina] [bit] NULL,
 CONSTRAINT [PK_CUENTA] PRIMARY KEY CLUSTERED 
(
	[numCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 9/15/2018 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMPLEADO](
	[numEmpleado] [int] NOT NULL,
	[Puesto] [varchar](50) NULL,
	[Sueldo] [float] NULL,
	[Antiguedad] [datetime] NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[numEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MESA]    Script Date: 9/15/2018 1:19:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MESA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MESA](
	[numMesa] [int] NOT NULL,
	[Capacidad] [int] NULL,
 CONSTRAINT [PK_MESA] PRIMARY KEY CLUSTERED 
(
	[numMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Index [IX_ALMACEN]    Script Date: 9/15/2018 1:19:26 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ALMACEN]') AND name = N'IX_ALMACEN')
CREATE NONCLUSTERED INDEX [IX_ALMACEN] ON [dbo].[ALMACEN]
(
	[numAlmacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ARTICULO]    Script Date: 9/15/2018 1:19:26 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ARTICULO]') AND name = N'IX_ARTICULO')
CREATE NONCLUSTERED INDEX [IX_ARTICULO] ON [dbo].[ARTICULO]
(
	[numArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUENTA]    Script Date: 9/15/2018 1:19:26 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CUENTA]') AND name = N'IX_CUENTA')
CREATE NONCLUSTERED INDEX [IX_CUENTA] ON [dbo].[CUENTA]
(
	[numCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EMPLEADO]    Script Date: 9/15/2018 1:19:26 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADO]') AND name = N'IX_EMPLEADO')
CREATE NONCLUSTERED INDEX [IX_EMPLEADO] ON [dbo].[EMPLEADO]
(
	[numEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MESA]    Script Date: 9/15/2018 1:19:26 AM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MESA]') AND name = N'IX_MESA')
CREATE NONCLUSTERED INDEX [IX_MESA] ON [dbo].[MESA]
(
	[numMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
